jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Debug secrets
        run: |
          echo "USER: ${{ secrets.SERVER_USER }}"
          echo "HOST: ${{ secrets.SERVER_HOST }}"

      - name: Deploy to server
        env:
          PROJECT_DIR: ${{ secrets.PROJECT_DIR }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
        run: |
          ssh -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_HOST} << 'EOF'
          ...
          EOF
